/target
/packages/dbgjs/target
/node_modules
/tests/fixtures/typescript-browser/dist
/test-results
/artifacts
/packages/vscode-extension/dist
/packages/vscode-extension/node_modules
/packages/vscode-extension/.vscode-test
/packages/vscode-extension/core.*
/packages/vscode-extension/test/workspace/node_modules
/packages/vscode-extension/test/workspace/dist
